@import "../../../styles/custom/colors";
@import "../../../styles/variables";

.search {
  margin-right: 0.5rem;
  position: relative;
  min-width: 18rem;

  input {
    border: 1px solid $gray-500 !important;
    border-left: none !important;
    z-index: 3;
  }
}

.search-icon {
  cursor: pointer;
}

.search-results-overlay {
  min-width: 30rem !important;

  .popover-body {
    background-color: #ffffff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  li {
    padding-top: 0.125rem;

    &:first-child {
      padding-top: 0;
    }
  }

  button.btn-link {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
  }
}

.search-result-link {
  .badge {
    margin-right: 0.125rem;
  }
}

.search-result-info {
  margin-top: 0.125rem;
}

.search-result-no-results {
  @extend .search-result-info;
}

.navbar-collapse {
  overflow-y: initial !important;
  padding-bottom: $footer-height;
}

#search-reset .btn {
  min-width: 4rem;
}

.navbar-search-margin-right-4 {
  margin-right: 4.45rem;
}

.navbar-search-language-select {
  min-width: 7rem;
  height: 100%;
  border: 1px solid #adb5bd;
  border-left: 0;
  border-radius: 0.25rem;
  margin-left: -1px;
  margin-right: -1px;
  outline: none !important;

  .react-select__control,
  .react-select__control * {
    height: 100%;
    border: none !important;
    border-radius: 0;
    outline: none !important;
    margin: auto;
  }

  .react-select__control {
    box-shadow: none !important;
  }

  .react-select__indicator-separator {
    height: auto;
  }
}
