table.file-backup-list {
  td {
    width: min-content;
    white-space: nowrap;
  }
  td:nth-last-child(2) {
    width: 100%;
  }
  button {
    font-size: larger;
    aspect-ratio: 1/1;
    min-width: unset;
    width: auto;
  }
}
